
body{
    margin: 0;
    font-family: 'News Cycle', sans-serif;
}

.center{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.container{
    width: 1040px;
    height: 295px;
    background: #ecf0f1;
    padding: 83px 40px 40px;
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.informer{
    width: 960px;
    height: 170px;
    margin: 0 auto;
    background: linear-gradient(to top, #7dc042 0%,#7dc042 33%,#f9cb36 33%,#f9cb36 66%, #cc1625 66%, #cc1625 100%);
    border-radius: 10px;
}

.circle{
    display: block;
    width: 18px;
    height: 18px;
    background: #8b929c;
    border: 9px solid white;
    border-radius: 27px;
}

.informer-control{
    float: left;
    margin-left: 190px;
    text-decoration: none;
}

.informer-control:link{
    color: white;
}

.informer-control:first-child{
    margin-left: 144px;
}


.emergency{
    margin-top: 10px;
}

.almost-emergency{
    margin-top: 68px;
}

.normal{
    margin-top: 125px;
}

.informer-control:before{
    position: absolute;
    text-transform: uppercase;
    padding: 3px 20px 5px;
    font-size: 12px;
    border-radius: 15px;
    background: white;
    font-weight: bold;
    color: #90959e;
}

.emergency:before{
    content: "emergency";
    margin-left: -45px;
    margin-top: -70px;
}

.almost-emergency:before{
    content: "almost an emergency";
    margin-left: -85px;
    margin-top: -128px;
}

.normal:before{
    content: "keeping an eye out";
    margin-left: -72px;
    margin-top: -185px;
}


.informer-control:after{
    content: "";
    display: block;
    position: absolute;
    border-top: 16px solid white;
    border-right: 10px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 10px solid transparent;
}

.emergency:after{
    margin-top: -45px;
}

.almost-emergency:after{
    margin-top: -103px;
}

.normal:after{
    margin-top: -160px;
}

.almost-emergency + .normal:before{
    content: "back to normal";
    margin-left: -65px;
}

.emergency + .normal:before{
    content: "back to normal";
    margin-left: -65px;
}

.informer-control i{
    position: absolute;
    display: block;
    width: 0;
    border-left: 1px solid white;
    margin-left: 9px;
}

.normal i{
    height: 134px;
    margin-top: -134px;
}

.almost-emergency i{
    height: 77px;
    margin-top: -77px;
}

.emergency i{
    height: 20px;
    margin-top: -20px;
}

.informer-control:hover:before{
    color: white;
}

.normal:hover:before{
    background: #7dc042;
}

.normal:hover:after{
    border-top: 15px solid #7dc042;
}

.almost-emergency:hover:before{
    background: #f9cb36;
}

.almost-emergency:hover:after{
    border-top: 16px solid #f9cb36;
}

.emergency:hover:before{
    background: #cc1625;
}

.emergency:hover:after{
    border-top: 16px solid #cc1625;
}
