@font-face {
    font-family: FontAwesome;
    local: "™";
    src: url('../font/FontAwesome.otf');
}

@-webkit-keyframes "spin"{
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(359deg);
    }
}

html{
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
}

body{
    margin: 0;
    font-family: Segoe UI, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
}

a{
    color: black;
    text-decoration: none;
}

header{
    padding: 10px 10px 2px;
    background: linear-gradient(to bottom, white, #f1f1f1);
    border-bottom: 1px solid silver;
    overflow: hidden;
    text-align: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    box-sizing: border-box;
}

header a{
    float: left;
    width: 0;
}

input[type="search"]{
    border: none;
    border-bottom: 1px solid silver;
    background: transparent;
    padding: 5px 30px 5px 10px;
    margin: -20px 0px 0px;
    outline: none;
    display: block;
    width: 100%;
    -webkit-appearance: textfield;
    min-width: 200px;
    color: grey;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

}

input[type="search"]:focus::-webkit-input-placeholder{
    color: transparent;
}

.search{
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    display: inline-block;
    width: 30%;
    min-width: 200px;
    height: 7px;
    margin-top: 20px;
}

.search-submit{
    float: right;
    margin-top: -30px;
    cursor: pointer;
    background: none;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    font-family: FontAwesome;
    outline: none;
    color: silver;
    font-size: 15px;
}


.search button:active{
    color: grey;
}


input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}



header span{
    background: red;
    padding: 10px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.slider{
    position: absolute;
    z-index: 5;
    padding-top: 45px;
    padding-bottom: 60px;
    width: 100%;
    -webkit-user-select: none;
    cursor: -webkit-grab;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 730px;
    background: white;
}

.sliding{
    -webkit-transition: -webkit-transform .25s linear;
}


.video{
    display: inline-block;
    width: 23.75%;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid silver;
    position: relative;
    z-index: 2;
    overflow: hidden;
    color: rgba(0,0,0,0.7);
    background: white;
    height: 360px;
}

.video-title{
    display: block;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px;
    margin: -10px -10px 0;
    background: linear-gradient(to bottom, white, #f1f1f1);
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
    line-height: 14px;
}

.video img{
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 10px;
}

.slide{
    display: inline-block;
    vertical-align: top;
}

.loading-indicator, .error{
    width: 100%;
    height: 100%;
    margin-top: 45px;
    position: absolute;
    z-index: 100;
    background: white;
    display: none;
    color: grey;
}

.loading-indicator.visible{
    display: block;
}

.error.visible{
    display: block;
}

.error p{
    position: absolute;
    height: 50px;
    font-size: 30px;
    top: -100px;
    bottom: 0;
    margin: auto;
    text-align: center;
    display: block;
    width: 100%;
}

.loading-indicator:after{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-left: 10px solid silver;
    border-right: 10px solid silver;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    -webkit-animation: spin 1s infinite;
}

.loading-indicator:before{
    content: "Loading";
    font-size: 20px;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    line-height: 100px;
    color: grey;

}



.author:before{
    font-family: FontAwesome;
    content: "\f007";
    font-size: 17px;
    display: inline;
    margin-right: 5px;
}

.two-column{
    padding: 5px 0;
    overflow: hidden;
}

.two-column .column{
    width: 50%;
    float: left;
    font-size: 15px;
    display: block;
}

a.column{
    color: rgba(0,0,0,0.7);
}

.tac{
    text-align: center;
}


.bl{
    border-top: 1px solid silver;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.bl a{
    padding: 5px;
    background: linear-gradient(to top, white, #f1f1f1, white);
    line-height: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgba(0,0,0,0.7);
    height: 27px;
    text-align: center;
    width: 100%;
    display: block;
}

.bl a:hover{
    background: linear-gradient(to top, #f1f1f1, white, #f1f1f1);
}

.views:before{
    font-family: FontAwesome;
    content: "\f06e";
    font-size: 17px;
    display: inline;
    margin-right: 5px;
}

.publish-date:before{
    font-family: FontAwesome;
    content: "\f073";
    font-size: 17px;
    display: inline;
    margin-right: 5px;
}

.video p{
    margin: 0;
    padding: 8px;
    font-style: italic;
    font-size: 13px;
}

.video p:before{
    content: "Descripton:";
    display: block;
    font-size: 15px;
    margin: 0 3px 0 -8px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 30px;
    width: 100%;
    background: linear-gradient(to top, white, #f1f1f1);
    z-index: 10;
    border-top: 1px solid silver;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}



footer .paginator{
    overflow: hidden;
    height: 20px;
    line-height: 20px;
}

.paginator a{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5) inset;
    margin-right: 5px;
    text-align: center;
}

.paginator a.active{
    background: rgba(0,0,0,0.6);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.8) inset;
}

.paginator a:hover{
    background: rgba(0,0,0,0.4);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6) inset;
}


.paginator a:active{
    background: rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.7) inset;
}


.paginator a.active:hover{
    background: rgba(0,0,0,0.6);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.8) inset;
}

.paginator a:before{
    content: attr(data-page);
    line-height: 30px;
    text-align: center;
    color: white;
    font-size: 12px;
    display: block;
    visibility: hidden;
    opacity: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -44px;
    margin-left: -5px;
    background: #606060;
    -webkit-transition: opacity .25s;

}


.paginator a:hover:before, .paginator a:hover:after{
    opacity: 1;
    visibility: visible;
}

.paginator a:after{
    content: "";
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: -14px;
    margin-left: 3px;
    border-top: 7px solid #606060;
    border-bottom: 10px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    -webkit-transition: opacity .25s;
}




.paginator.hidden a{
    display: none;
}

footer .left-arrow{
    float: left;
}

footer .right-arrow{
    float: right;
}

footer .left-arrow, footer .right-arrow{
    display: block;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #606060;
    border-right: 15px solid transparent;
    margin-top: -5px;

}

footer .left-arrow{
    border-left: 15px solid transparent;
    border-right: 15px solid #606060;

}

