@media (max-width: 1023px) {
    .sequencing ul li{
        width: 32%;
    }

    .features ul li{
        width: 49%;
    }

    .splashy-inner-wrapper{
        width: auto;
        margin: 10px;
    }

    footer{
        padding: 10px 10px;
    }

    .email, .addr{
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    header{
        padding: 10px;
    }

    .sequencing ul, .features ul{
        padding: 30px 10px;
    }
}

@media (max-width: 700px) {


    .consumers{
        width: auto;
        height: auto;
    }
    .consumers:after{
        display: none;
    }

    .splashy img{
        display: none;
    }

    .splashy{
        height: auto;
        text-align: center;
    }

    .splashy img{
        display: none;
    }

    .splashy-btn{
        display: inline-block;
        float: none;
    }

    .sequencing ul li:before{
        margin-left: -10px;
    }


}


@media (max-width: 500px) {

    header{
        padding: 10px 0px;
    }

    header img{
        display: none;
    }

    .consumers{
        display: block;
        float: none;
        width: 100%;
        height: auto;
        margin-top: 5px;
        text-align: center;
    }

    .consumers:after{
        display: none;
    }

    .splashy-inner-wrapper p{
        font-size: 22px;
    }

    .splashy-inner-wrapper span{
        margin: 20px;
    }

    .sequencing ul li, .features ul li{
        width: 100%;
        margin-bottom: 10px;
    }

    .sequencing ul li:before{
        display: none;
    }


    footer ul{
        width: 100%;
    }

    .addr{
        margin-left: 0;
    }

    .pull-right{
        float: none;
    }
}

@media (max-width: 240px) {

    .wrapper, nav{
        min-width: 240px;
    }

    .consumers{
        display: block;
        float: none;
        width: 100%;
        height: auto;
        margin-top: 5px;
        text-align: center;
    }

    .consumers:after{
        content: none;
    }

    header{
        padding: 10px 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .splashy{
        display: none;
    }
}

