body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('../i/topback.png') repeat-x;
}

a{
    text-decoration: none;
}

a img{
    border: none;
}

ul{
    list-style-type: none;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.wrapper{
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: hidden;
}

header{
    position: relative;
    z-index: 4;
    padding: 20px 90px;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.4);
}

nav{
    overflow: hidden;
}

nav ul{
    padding: 0;
    margin-top: 21px;
    text-align: center;
    text-transform: uppercase;
}

nav ul li{
    display: inline-block;
}

nav ul li:last-child a{
    color: #33cc99;
    text-decoration: underline;
}

nav ul li:last-child a:hover{
    background: #33cc99;
}

.navlink{
    display: inline-block;
    padding: 7px 20px 4px 20px;
    border-radius: 20px;
    color: #339999;
}

.navlink:hover{
    color: white;
    background: #339999;;
}

.consumers{
    font-size: 15px;
    text-decoration: underline;
    color: #339999;
    margin-top: 27px;
    height: 44px;
}

.consumers:after{
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background: url('../i/cons-arrow.png') no-repeat;
    float: right;
    margin-top: -5px;
    margin-left: 10px;
}

.sequencing{
    background: #eff8fb;
    position: relative;
    z-index: 2;
}

.sequencing:after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background: white url('../i/wave-border.png') repeat-x;
}


.sequencing ul{
    width: 100%;
    margin: 0;
    padding: 18px 90px 25px 90px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.sequencing ul li{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 33%;
}

.sequencing ul li p{
    font-weight: bold;
    color: #33879e;
    font-size: 24px;
    margin: 5px;
    padding: 0;
}

.sequencing ul li small{
    font-size: 15px;
    color: #567c86;
}

.sequencing ul li:before{
    content: "";
    background: url('../i/seq-arrow.png') no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 39px;
    margin-left: -23px;
}

.sequencing ul li:first-child:before{
    display: none;
}

.splashy{
    position: relative;
    z-index: 3;
    height: 310px;
    background: url('../i/splashy-back.png');
    background-size: 100% 100%;
    overflow: hidden;
}

.splashy-inner-wrapper{
    width: 820px;
    margin: 43px auto;
    color: white;
    font-weight: bold;
}

.splashy-inner-wrapper img{
    float: left;
    margin-left: -23px;
    margin-right: 35px;
}

.splashy-inner-wrapper p{
    font-size: 40px;
    margin: 0;
    padding: 11px 5px 5px;

}

.splashy-inner-wrapper span{
    font-size: 18px;
    overflow: hidden;
    margin-bottom: 10px;
    display: block;
}

.splashy-btn{
    color: white;
    display: block;
    font-size: 22px;
    padding: 9px 20px;
    line-height: 32px;
    border-radius: 25px;
    background: #0088b5;
    background: linear-gradient(to bottom, #00a7c9, #0088b5);
    box-shadow: 0 0 0 5px rgba(0,0,0,0.3);

    margin-left: 4px;
    float: left;
    overflow: hidden;
}

.splashy-btn:before{
    content: "";
    display: block;
    height: 30px;
    background: rgba(255,255,255,0.3);
    border-radius: 15px;
    margin: -15px -20px;

}

.features{
    text-align: center;
    padding-bottom: 32px;
    box-shadow: 0 0 2px 6px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
    margin-top: -19px;
}

.features ul{
    margin: 0;
    width: 100%;
    padding: 25px 90px 12px 90px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.features ul li{
    display: inline-block;
    width: 24%;
    text-align: center;
    padding: 9px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: top;
}

.features ul li p{
    font-size: 18px;
    color: #4e4e4e;
}

.features ul li small{
    font-size: 15px;
    color: #9c9c9c;
}

.circle{
    display: inline-block;
    width: 176px;
    height: 176px;
    border-radius: 100px;
    border: 6px solid #addfd3;
    overflow: hidden;
}

.features-btn{
    display: inline-block;
    color: #7bcbb8;
    font-size: 20px;
    padding: 8px 24px;
    border: 2px solid #7bcbb8;
    border-radius: 30px;
}

.features-btn:after{
    content: "";
    margin-left: 20px;
    display: block;
    float: right;
    margin-top: 5px;
    width: 9px;
    height: 13px;
    background: url('../i/features-arrow.png');
}

footer{
    background: #295b69;
    padding: 20px 90px;
    overflow: hidden;
    font-size: 12px;
    color: #7898a0;
}

footer a img{
    margin-left: 10px;
    margin-bottom: 14px;
}


.email{
    padding: 0;
    margin: 0;
    float: left;
}

.email li, .addr li{
    margin: 6px 0;
}

.email a{
    color: white;
    font-size: 12px;
}

.addr{
    padding: 0;
    margin-top: 0;
    float: left;
    margin-left: 7.25%;
}

.footer-nav{
    margin: 0 -90px;
    padding: 13px 90px 0 90px;
    display: block;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #3f6c78;
}

.footer-nav a{
    color: #3f6c78;
}


.footer-nav li{
    display: inline-block;
    margin-right: 30px;
}


