
body{
    margin: 0;
    font-family: Segoe UI, Helvetica, sans-serif;
    font-size: 20px;
}

input[type="checkbox"]{
    display: none;
}

@-webkit-keyframes fade{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

label{
    display: block;
    width: 170px;
    height: 70px;
    position: absolute;
    top: -200px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    line-height: 70px;
    border: 1px solid grey;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 8px 4px silver;
    cursor: pointer;
}


.hide{
    top: 200px;
    display: none;
    z-index: 2;
    background: white;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.5);
}


.popup{
    width: 100%;
    height: 100%;
    display: none;
    background: black;
    opacity: 0;
    position: absolute;
    top: 0;
}

.popup p{
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 100px;
    background: white;
    color: black;
    opacity: 2;
    margin: auto;
    line-height: 100px;
    text-align: center;
    box-shadow: 0 0 8px 4px rgba(0,0,0,0.5);
}

#popupSwitcher:checked ~ .popup{
    display: block;
    -webkit-animation: fade 1s;
    opacity: 1;
    background: rgba(0,0,0,0.5);
}

#popupSwitcher:checked ~ .hide{
    -webkit-animation: fade 1s;
    display: block;
}